################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/Debug
**/obj
/ConsoleApp/ConsoleApp.sln.DotSettings.user
