.container {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 60px);
}

.layout {
    height: 100%;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px 0;
}

.userMessageContainer {
    width: 100%;
}

.chatInputContainer {
    width: 700px;
    position: sticky;
    bottom: 0;
    background: #fff;
    z-index: 10;
}
.statusContainer {
    
    padding: 20px 0;
    margin-left: 24;
}
.contentArea {
    background-color: #fff;
}

.statusSidebar {
    width: 250px;
    border-left: 1px solid #eaeaea;
    padding: 20px;
    background: #fff;
}

.header {
    position: sticky;
    height: 60px;
    top: 0;
     background: #fff;
    z-index: 10;

    border-bottom: 1px solid #eaeaea;
}